p,{
font-family: "noto-sans", sans-serif;
font-weight: 400;
font-style: normal;
}

i, em { 
font-family: "noto-sans", sans-serif;
font-weight: 400;
font-style: italic;
}

b, strong {
	font-family: "noto-sans", sans-serif;
font-weight: 700;
font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
font-family: quatro, sans-serif;
font-weight: 700;
font-style: normal;
}


.form-control, .table-wrapper {
    background: #ffffff;
    padding: 1rem;
color: #60676b;
font-family: "noto-sans", sans-serif;
font-weight: 400;
font-style: normal;
border: 0.5rem solid #ebc25e;
border-radius: 1rem;
}

.table-constrained {
word-break: break-all;
}

.col-id {
    width: 10%;
    max-width: 32px;
}


.col-url {
    width: 50;
    max-width: 400px;
}


.col-other {
    width: 20;
    max-width: 200px;
}


.hidden {
  visibility: hidden;
}

#main-container-fluid {
	background: #5eb2eb;
	color: #ffffff;
	height: 100vh;
}

#main-container {
	margin: auto;
	padding: 1rem;
}

.btn-light, .btn-outline-light {
    font-weight: bold !important;
}


.btn-light {
    color: #5eb2eb !important;
}
