.hidden {
  visibility: hidden;
}

#main-container-fluid {
	background: #5eb2eb;
	color: #ffffff;
}

#main-container {
	margin: auto;
	padding: 1rem;
}

.btn-light, .btn-outline-light {
    font-weight: bold !important;
}


.btn-light {
    color: #5eb2eb !important;
}
